html {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

.title {
    margin: auto;
    width: 80%;
}

.header-section {
    margin-top: 8%;
}

.about-section {
    margin-top: 10%;
}