{% extends "layouts/main.html" %}
{% include "partials/nav.html" %}


{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', path = 'css/auth.css') }}">

    <!-- Main -->
    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Registration</h1>
            <h2>Hi, now u can do it:</h2>
          </hgroup>
          <form method="post" action="/registration">
            <input type="text" name="login" placeholder="Login" aria-label="Login" autocomplete="login" required>
            <input type="email" name="email" placeholder="Email" aria-label="Email" autocomplete="email" required>
            <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="password" required>
    
            <button type="submit" class="contrast" onclick="event.preventDefault()">Create account</button>
          </form>
        </div>
        <div></div>
      </article>
    </main><!-- ./ Main -->

    {% include "partials/footer.html" %}
{% endblock %}